.moreOptions__container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.moreOptions__container div > span {
  width: 30px;
  height: 2px;
  background-color: var(--tertiaryColor);
  position: absolute;
  top: 0px;
}

.moreOptions__container div > span:nth-child(2) {
  width: 20px;
  height: 2px;
  background-color: var(--tertiaryColor);
  position: absolute;
  top: 100%;
}
