.header-container {
  display: flex;
  align-items: center;
}

.header-container__right {
  margin-left: auto;
  display: flex;
}

.app-title {
  font-size: 1rem;
  font-weight: 400;
}

/* .header-container__right__btn {
} */
